{% load static %}

<style>#zarinpal img {width: 80px;}</style>
<div class="bg-secondary text-dark w-100 py-4 rounded-top-5 rounded-bottom-0 shadow-sm">

    <div class="container">

        <div class="row text-center">

            <!-- info -->
            <div class="col-md-6">
                <div class="d-flex flex-column justify-content-center">
                    <div class="mb-2">آدرس: شیراز، بلوار عدالت جنوبی، خیابان فتح المبین، نبش تقاطع دستغیب</div>
                    <div>تلفن: 09036202425</div>
                </div>
            </div>

            <!-- symbol -->
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="d-flex justify-content-center">
                    <!-- zarinpal -->
                    <div id="zarinpal" class="ms-3" >
                        <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                    </div>
                    
                    <!-- enamad -->
                    <div class="ms-3" >
                        <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=623985&Code=r6IIFClBmKMXhWHkMHHKcs6PKxpGDMCb'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=623985&Code=r6IIFClBmKMXhWHkMHHKcs6PKxpGDMCb' alt='' style='cursor:pointer' code='r6IIFClBmKMXhWHkMHHKcs6PKxpGDMCb'></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>