{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "img/logo.png" %}" type="image/png">

    <meta name="description" content="فروشگاه سطل زباله آقای سطل">
    
    <!-- CSS -->  
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="icon" href="/static/img/logo.png" type="image/png">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "آقای سطل",
            "url": "https://mr-bin.ir",
            "logo": "https://mr-bin.ir/static/img/logo.png"
        }
    </script>
    
    <!-- font -->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Vazir', sans-serif;
        }
    </style>
    
    <title>{% block title %}آقای سطل{% endblock %}</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
        
    <!-- navbar -->  
    <navbar class="container sticky-top">{% include "navbar.html" %}</navbar>

    <!-- main block -->  
    <main class="container mt-4 flex-grow-1">{% block main %}{% endblock %}</main>
    
    <!-- footer -->
    <footer class="container mt-5">{% include "about_us.html" %}</footer>

    <!-- cart -->
    {% include "cart/cart.html" %}

    <!-- JS -->  
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>