<div class="card border-2 mx-auto shadow">
    <div class="card-body d-flex flex-column justify-content-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <div>قیمت کالا</div>
                <div class="text-end text-accent">{{ total_price }} تومان</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>هزینه پستی</div>
                <div class="text-end text-accent">{% if postage != '0' %}{{ postage }} تومان{% else %}توافقی محاسبه میشود{% endif %}</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>مبلغ نهایی</div>
                <div class="text-end text-accent">{{ total_price_with_postage }} تومان</div>
            </li>
        </ul>
        <button class="btn btn-primary mt-3" {% if cart_items_count == 0 %}disabled{% endif %} type="submit">
            ثبت سفارش و پرداخت
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
        </button>
    </div>
</div>