{% extends "base.html" %}

{% block title %}سفارش{% endblock %}

{% block main %}

    {% include "cart/add_and_remove_message.html" %}   
    <div class="alert alert-info" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg>
        لطفاً اطلاعات خود را وارد کنید و در صورت اطمینان، روی
        <strong>ثبت سفارش و پرداخت</strong>
        کلیک نمایید.
    </div>

    <!-- main -->
    <form class="row" method="post">{% csrf_token %}

        <!-- customer info -->
        <div class="col-12 col-md-7 order-md-1">
            {% include "order/customer_info.html" %}
        </div>
        
        <!-- cart items -->
        <div class="col-12 col-md-12 order-md-3">
            {% include "cart/cart_items.html" %}
        </div>

        <!-- order info -->
        <div class="col-12 col-md-5 mt-5 order-md-2">
            {% include "order/order_info.html" %}
        </div>
        
    </form>


{% endblock %}
