{% load static %}

<style>
.carousel-item {
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}
</style>

<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url({% static 'img/header/1.jpg' %});"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/header/2.jpg' %});"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/header/3.jpg' %});"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/header/4.jpg' %});"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/header/5.jpg' %});"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>